/* .container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
} */

.sign {
  font-size: 12px;
  margin: 0;
}

.letter {
  padding: 10px 20px 20px 20px;
  border-bottom: 1px dashed grey;
}

.letter:last-child {
  border: none;
}

body {
  background: #eee8f5;
  font-family: sans-serif;
}

/* label {
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
} */

/* h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
} */

.love-style {
  color: #e1a1f1;
}

.faith-style {
  color: #e1a1f1;
}

.smaller-text {
  font-size: 15px;
}

.larger-text {
  font-size: 20px;
}

/* .alive-style {
  color: #FB91B8;
} */

.happy-new-year {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

.couple-photo {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

.couple-photo:hover {
  opacity: 70%;
  transform: scale(1.02);
  transition: all 150ms ease-in-out;
}

select {
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  padding: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  font-weight: 300;
}

footer {
  font-size: 15px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 40px;
}

.shimmer {
  color: grey;
  display: block;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300%
    100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

.new-year {
  background: linear-gradient(#cb586a, #842737);
  color: white;
  line-height: 1.5;
}

.letter-3 {
  border: none;
}
